# Directorios de compilación/dependencias de IDEs/Java
.idea/
*.iml
target/

# Directorios de frontend
/frontend/node_modules
/frontend/build

# Credenciales y Ambiente Local (CRÍTICO)
/backend/.env
/backend/_finconecta-api/finconecta-api/src/main/resources/application.yml